header {
    height: 50px;
    margin-inline-end: 1px;
}

footer {
    background-color: #0F1630;
    color: white;
    height: 50px;
}

.clear {
    clear: both;
    /*color: #C46C50;*/
    margin-bottom: 10px;
}

aside {
    height: 1010px;
    background: #eeeeee;
    width: 31%;
    float: left;
}

.asided {
    margin: 0;
}

.main {
    background: #ffffff;
}